header{
    background-color: blueviolet;
    color:burlywood;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    height: 300px;
}
 body{
    background-color:burlywood;
}
header img{
    width: 450px;
    height: 200px;
    margin-left:20px ;
}
main h1{
    color:blueviolet;
    text-align: center;
    font-size: 60px;
}
main article h3{
  color: rgb(73, 4, 138);
  font-size: 30px;
}
main article p{
  font-size: x-large;
  color: blueviolet;
}
section img{
margin: 50px;
margin-left: 300px; ;
}
header nav ul li{
    display: inline-block;
    padding: 35px;
    font-size: 30px;
    margin-left: 10px;
  }
  header nav ul li a{ 
    text-decoration-line: none;
    color:burlywood;
  } 

   footer{
    background-color: blueviolet;
    height: 100px;
  } 
  footer h5{
    margin: 40px;
    font-size: large;
  }

   table thead,tr,td,tbody,tfoot{
      border:2px solid black ;
      width: 10%;
      text-align: center;
      color: rgb(73, 4, 138);
      font-size: x-large;
  }  
