header{
    background-color: blueviolet;
    color:burlywood;
    text-align: center;
    font-family: 'Roboto Slab', serif;

}
body{
    background-color:burlywood;
}
img{
    width:auto;
    height: auto;
}
